body {margin:0;
}
html {
background-color:#fff;
font-size:60px
}
.Login-top {
content: ""; 
display: block; 
padding-top: 18%; 
background: url(../images/logo.jpg);
background-size: 100% auto;
background-repeat: no-repeat;

}
    .Login-top img {
   
    }
    .Login-div_h0 {width:100%; height:0.5em;}
.Login-div_h1 {width:100%; height:2em;border-bottom:1px solid #808080}
.div-button { width:100%; height:1.5em;text-align:center; font-size:1em;background-color:#0094ff;border: hidden; margin-top:0.5em; }
.Login-div_h1 div {width:100%; height:1em; text-align:center;}
.Login-div_h1 span { width:100%; }
    .Login-div_h1 input {width:95%; height:1em; font-size:1em ;border: hidden;   } 
    .Login-div_h2 {width:100%; height:1.4em;border-bottom:1px solid #808080; color:#fff;}
.Login-div_h2 span { width:100% ;}
    .Login-div_h2 input {width:98%; height:1em; font-size:1em ;border: hidden;   }
.div-left { width:49%;float:left;height:1em;text-align:center; }
.div-right { width:49%;float:right;height:1em;}
    .div-right img {width:100%;height:100%    }
    .Login-div_h3 {width:100%; height:2em;text-align:center;}
        .Login-img{width:80%; height:100%; background :url(../images/login_btn01.gif ;background-size: 100% auto;background-repeat: no-repeat;   padding-top: 18%;    }

 
